.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
}

.headerTitleSm {
  position: absolute;
  top: 13%;
  margin-bottom: 30px;
  font-size: 150%;
  color: rgb(39, 2, 2);
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
 display :flex;
 object-fit:cover;
}
@media screen and (max-width: 468px){
  .headerImg {
    width: 120%;
    height: 300px;
    margin-top: 80px;
   display :flex;
   margin-right:0;
  }
}